body {
    text-align: center;
  }
  a:link {
    color: rgb(219, 179, 46);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(218, 133, 22);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(219, 156, 37);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(245, 185, 74);
    background-color: transparent;
    text-decoration: underline;
  }